main > .container {
    padding: 70px 15px 20px;
}

body{
    background-color: rgb(187, 187, 187)
}

footer {
    background-color: #343a40;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.homeTable{
    display: block;
    height: 196px;
    overflow-y: scroll;
    margin-top: 40px;
}

.ulOut{
    position: relative;
    padding-top: 10px;
}

.homeTable li:first-child{
    position: absolute;
    top: 0;
    left: 15px;
    width: 91%;

}

.info {
    width: 33%;
    display: inline-block;
    color: black;
    margin-left: 20px;
    margin-top: 12px;
    padding-bottom: 20px;
} 

.support {
    display: inline-block;
    color: black;
    margin-left: 150px;
    font-size: 20px;
}

.support a {
    
    text-decoration: none;
    color: black;
}

.version {
    display: inline-block;
    color: black;
    margin-right: 10px;
    margin-top: 5px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.login{                               
    margin-left: 38%;
    margin-top: 10%;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}